#signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10%;
    padding-bottom: 15vh;
    font-size: 3.5rem;
}

#signup section {
    width: clamp(300px, 40vw, 600px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}
#signup input, #signup button {
    width: 100%;
}
#signup section button:first-of-type {
    margin-top: 8rem;
}
#signup button {
    border-radius: 8px;
    padding: 2rem 4rem;
    font-size: 3rem;
    color: var(--color_white);
    background-color: var(--color_prim);
}
#signup #signup_details #signup_row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
    font-size: 4rem;
    align-items: center;
}
#signup #signup_details #signup_row input {
    width: 100%;
}
