h1 {
    font-size: 16rem;
    line-height: 20rem;
    text-align: center;
    color: var(--color_prim);
    font-family: 'Great Vibes', cursive;
}
@media (max-width: 900px) {
    h1 {
        font-size: 0;
        line-height: 0;
    }
}
