:root {
    --color_prim: #754B2B;
    --color_prim_light: #9A6339;
    --color_white: #FFFFFF;
    --color_contrast: #407CAA;
    --color_background_grey: #F6F7F9;
    --color_red: #BC333C;
    --color_green: #52C849;
    --color_black: #000000;

    --filter_red: invert(22%) sepia(97%) saturate(1228%) hue-rotate(328deg) brightness(101%) contrast(95%);
    --filter_green: invert(70%) sepia(84%) saturate(409%) hue-rotate(60deg) brightness(84%) contrast(87%);
    --filter_main: invert(29%) sepia(29%) saturate(994%) hue-rotate(344deg) brightness(92%) contrast(85%);
    
    --icon_size: contain;
    --bg_img_setting: no-repeat center;
    --shadow_small: 2px 2px 2px rgba(0 0 0 / 0.25);
}
