#dashboard #years {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 6rem;
    align-self: flex-start;
    margin: 5rem 0;
}
#dashboard #years .years-button {
    border-radius: 1rem;
    border: 1px solid var(--color_prim_light);
    background-color: transparent;
    color: var(--color_prim_light);
    padding: 2rem 0;
    width: 20rem;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow_small);
}
#dashboard #years .years-button[aria-selected="true"] {
    color: var(--color_white);
    background-color: var(--color_prim_light);
}
#dashboard #years .years-button:active {
    box-shadow: 0 0 0;
}
#dashboard .record {
    font-size: 3.5rem;
}
#dashboard .record #date {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5rem;
    color: var(--color_prim_light);
    align-items: center;
    margin-bottom: 4.5rem;
}
#dashboard .record #date .dash {
    height: 1px;
    background: var(--color_prim_light);
}
#dashboard .record .item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15rem;
    margin-bottom: 1rem;
}
#dashboard .record .item .category {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 3rem;
    justify-items: center;
    font-size: 3.5rem;
    color: var(--color_black);
}
#dashboard .record .item .category .line {
    width: 1px;
    height: 100%;
    background: var(--color_black);
}
#dashboard .record .item .details {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
#dashboard .record .item .detail {
    display: flex;
    flex-direction: row;
    column-gap: 10rem;
}

#dashboard .main-button {
    font-size: 4rem;
    padding: 4rem 6rem;
    border-radius: 8px;
    box-shadow: var(--shadow_small);
    background-color: var(--color_prim_light);
    color: var(--color_white);
    display: flex;
    column-gap: 6rem;
    width: 200px;
    justify-content: center;
    align-items: center;
}
#dashboard .main-button:active {
    box-shadow: 0 0 0;
}
#dashboard .main-button div {
    width: 18px;
    aspect-ratio: 1 / 1;
    background-size: var(--icon_size);
    filter: var(--filter_white);
}
#dashboard .main-button div#pen {
    background: url("../../../assets/pen.svg") var(--bg_img_setting);
}
#dashboard .main-button div#record {
    background: url("../../../assets/record.svg") var(--bg_img_setting);
}
