#dashboard #years {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 6rem;
    align-self: flex-start;
}
#dashboard #years .years-button {
    border-radius: 1rem;
    border: 1px solid var(--color_prim_light);
    background-color: transparent;
    color: var(--color_white);
    padding: 2rem 0;
    width: 20rem;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow_small);
}
#dashboard #years .years-button#current {
    background-color: var(--color_prim_light);
}
#dashboard #years .years-button:active {
    box-shadow: 0 0 0;
}
#dashboard .main-button {
    font-size: 4rem;
    padding: 4rem 6rem;
    border-radius: 8px;
    box-shadow: var(--shadow_small);
    background-color: var(--color_prim_light);
    color: var(--color_white);
    display: flex;
    column-gap: 6rem;
    width: 200px;
    justify-content: center;
    align-items: center;
}
#dashboard .main-button:active {
    box-shadow: 0 0 0;
}
#dashboard .main-button div {
    width: 18px;
    aspect-ratio: 1 / 1;
    background-size: var(--icon_size);
}
#dashboard .main-button div#pen {
    background: url("../../../assets/pen.svg") var(--bg_img_setting);
}
#dashboard .main-button div#record {
    background: url("../../../assets/record.svg") var(--bg_img_setting);
}
