.dropdown_menu {
    width: 100%;
    position: relative;
}
.dropdown_menu > * {
    width: 100%;
    background-color: var(--color_white);
    border-radius: 8px;
}
.dropdown_menu button {
    height: 7.5rem;
}
.dropdown_menu #current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
}
.dropdown_menu #current:not(:last-child) {
    border-radius: 8px 8px 0 0;
}
.dropdown_menu #current > *:first-child, .dropdown_menu #current > *:last-child {
    width: 16px;
}
.dropdown_menu .arrow {
    aspect-ratio: 1 / 1;
    background: url(../../assets/arrow_down.svg) var(--bg_img_setting);
    background-size: var(--icon_size);
}
.dropdown_menu #choices {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dropdown_menu #choices .choice {
    width: 100%;
    height: 7.5rem;
    background-color: var(--color_white);
}
.dropdown_menu #choices .choice:hover {
    background-color: #64C7FF;
}
.dropdown_menu #choices .choice:last-child {
    border-radius: 0 0 8px 8px;
}
