#my_record > section {
    width: clamp(400px, 70vw, 1290px);
}
#my_record section #filters{
    display: grid;
    grid-template-columns: repeat(2, 40rem);
    grid-column-gap: 10rem;
    margin-bottom: 10rem;
}
#my_record section #records {
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
}
#my_record .record #date {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5rem;
    color: var(--color_prim_light);
    align-items: center;
    margin-bottom: 4.5rem;
}
#my_record .record #date .dash {
    height: 1px;
    background: var(--color_prim_light);
}
#my_record .record .item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15rem;
    margin-bottom: 1rem;
}
#my_record .record .item .category {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 2rem;
    justify-items: center;
    font-size: 3.5rem;
    color: var(--color_black);
}
#my_record .record .item .category .line {
    width: 1px;
    height: 100%;
    background: var(--color_black);
}
#my_record .record .item .details {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
#my_record .record .item .detail {
    display: flex;
    flex-direction: row;
    column-gap: 10rem;
}
