#exercise_record {
    background-color: var(--color_white);
    border-radius: 2rem;
    padding: 3rem 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    max-width: 75vw;
}
#exercise_record #record_table {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2.5rem;
    font-size: 4rem;

}
#exercise_record #record_table #days {
    display: grid;
    grid-template: repeat(7, 16px) / repeat(1, auto);
    grid-gap: 2rem;

}
#exercise_record #record_table #calendar {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2.5rem
}
#exercise_record #record_table #calendar::-webkit-scrollbar {
    display: block;
    height: 2rem;

}
#exercise_record #record_table #calendar::-webkit-scrollbar-thumb {
    background: var(--color_prim);
    border-radius: 1rem;
}
#exercise_record #record_table #calendar::-webkit-scrollbar-thumb:hover {
    background: var(--color_prim_light);
}
#exercise_record #record_table #months {
    display: grid;
    grid-template-columns: repeat(53, 4rem);
    grid-gap: 1.5rem;
    grid-column: 2 / 3;
}
#exercise_record #record_table #months label {
    text-transform: capitalize;
}
#exercise_record #record_table #dates {
    display: grid;
    grid-template: repeat(7, 4rem) / repeat(53, 4rem);
    grid-gap: 1.5rem;
    grid-auto-flow: column;
}
#exercise_record #record_table #dates .record_cell {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    border: 1px solid #C3C3C3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#exercise_record #record_table #dates .record_cell .tooltip_date {
    visibility: hidden;
    position: absolute;
    translate: 0 -85%; /* hardcode */
    background-color: var(--color_contrast);
    border-radius: 4px;
    padding: 1rem 2.5rem;
    cursor: default;
    color: var(--color_white);
    display: flex;
    justify-content: center;
    pointer-events: none;
}
#exercise_record #record_table #dates .record_cell .tooltip_date::after {
    content: "";
    --size: 10px;
    width: 0;
    height: 0;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--color_contrast);
    position: absolute;
    bottom: -9px; /* hardcode */
}
#exercise_record #record_table #dates .record_cell:hover {
    z-index: 1;
}
#exercise_record #record_table #dates .record_cell:hover .tooltip_date {
    visibility: visible;
}
