html {
    font-size: 4px;
}
body::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("./assets/background.jpeg") var(--bg_img_setting);
    background-size: cover;
    opacity: 35%;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    line-height: 1em;
}
* a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}

.background_image {
    background: center no-repeat;
    background-size: cover;
}
.no_highlight {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input {
    background-color: var(--color_white);
    border-radius: 8px;
    border: 1px solid var(--color_prim);
    font-size: 3rem;
    padding: 1rem 2rem;
}
